@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
}

.quadroPopUpAtencao {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #6c7a8929;
    justify-content: center;
    align-items: center;
}

.box {
    width: 600px;
    height: 360px;
    background: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
}

h1 {
    font-family: "Poppins";
    text-align: center;
    font-size: 25px;
    color: #000000;
    background-color: #ff71e5aa;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #000000;
    margin: 0px;

}

p {
    font-family: "Poppins";
    text-align: left;
    font-size: 20px;
    color: #737B8B;
    position: relative;
    left: 15px;

}

.container1 {
    position: relative;
    top: -52px;
    left: 120px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 18px;
    color: #737B8B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container2 {
    position: relative;
    top: -52px;
    left: 220px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 18px;
    color: #737B8B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
.container1 input, .container2 input, .container3 input, .container4 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  /* Create a custom radio button */
.checkmark1, .checkmark2, .checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1, .container2:hover input ~ .checkmark1 {
    background-color: #ccc;
  }

  .container3:hover input ~ .checkmark2, .container4:hover input ~ .checkmark3 {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a color background */
.container1 input:checked ~ .checkmark1, .container2 input:checked ~ .checkmark1 {
    background-color: #ff71e5aa;
  }

  .container3 input:checked ~ .checkmark2, .container4 input:checked ~ .checkmark3 {
    background-color: #ff71e5aa;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after, .checkmark2:after,  .checkmark3:after {
    content: "";
    position: absolute;
    display: none;
  }


  /* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark1:after, .container2 input:checked ~ .checkmark1:after {
    display: block;
  }
  .container3 input:checked ~ .checkmark2:after, .container4 input:checked ~ .checkmark3:after {
    display: block;
  }

  .line1 {
    width: 598px;
    height: 0px;
    border: 1px solid #ccc;
    position: relative;
    top: -32px;
  }

  p.FaixaEtaria {
    position: relative;
    top: -30px;
  }

  .container3 {
    position: relative;
    top: -82px;
    left: 170px;
    padding-left: 35px;
    padding-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 18px;
    color: #737B8B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .line2 {
    width: 598px;
    height: 0px;
    border: 1px solid #ccc;
    position: relative;
    top: -52px;
  }


  p.FatoresRisco {
    position: relative;
    top: -50px;
  }

  .container4 {
    position: relative;
    top: -97px;
    left: 200px;
    padding-left: 35px;
    margin-bottom: 12px;
    padding-right: 10px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 16px;
    color: #737B8B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .barraInferior {
    width: 600px;
    height: 30px;
    background-color: #ff71e5aa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    top: -22px;
    border-top: 2px solid #000000;
  }

  .Filtrar {
    font-family: "Poppins";
    font-size: 23px;
    font-weight: bold;
    color: #5e646e;
    border-radius: 10px;
    position: relative;
    top: -45px;
    left: 260px;
  }



